body{ 

    background-color: rgb(0, 0, 0);
    color:blanchedalmond;
   text-align: center;


}



    h1 {
  font-family: Clayton, serif;
  text-align: center;
  
}

p {
    text-align: center;        
  font-family: Clayton, sans-serif;
}

