.box-container {
    /* 1. size of the element content */

text-align: center;  /* centers the text */
    /* 2. padding: Space INSIDE the box (between image and border) */
padding: 20px;

    /* 3. border: frame around the padding */
border: 10px solid blue;

    /* 4. margin: Space OUTSIDE the box 
          (pushes other things away) */
 margin: 50px;
 background-color: orangered;
}