body{
text-align: center;
background-color: #b9a6cf;

}

form{
    display: inline-block;
    padding: 10px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    border: 2px solid #f0b5b5;
    border-radius: 1em;
    background-color: #b9a6cf;
}

label{
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input,
textarea{
    font: 1em san-serif;
    width:300px;
    box-sizing: border-box;
    border: 2px solid #ffc8c8;
    background-color: #b9a6cf;
}

input:focus,
textarea:focus{
    outline-style:solid; 
    outline-color:rgb(255, 164, 164);
}

textarea{
    vertical-align:top;
    height: 5em;
}

.comment{
    background-color: #b9a6cf;
    display: inline-block;
    padding: 10px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    border: 2px solid #ffc8c8;
    border-radius: 1em;
    margin: 5px;
    margin-right: 3px;
    margin-left:0%;
}

.comment_name{
    font-weight: bold;
    background-color: #b9a6cf;
    border: 0px solid #ffc8c8;
}

.send_comment{
    font-weight: bold;
    background-color: #b9a6cf;
    border: 2px solid #ffc8c8;
}